# ./backend/.env (con auth, coincide con tu .env.example)
PORT=4000
LOG_LEVEL=debug
SECRET_KEY=your_jwt_secret_key
DATABASE_URL=mongodb://root:root@mongo:27017/?authSource=admin
CLIENT_URL=http://localhost:3000
